<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="DB" connectionString="строка подключения" providerName = "System.Data"/>
    </connectionStrings>
    <appSettings>
        <add key="PlcEven" value="192.168.37.104"/> //Четные
        <add key="PlcOdd" value="192.168.37.103"/> //Нечетные
    </appSettings>
</configuration>